* {
    box-sizing: border-box;
    color: #c7c5bf;
}

/* .background-image {
    position: fixed;
    left: 0;
    right: 0;
    background: url(/images/cinema.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    height: 100vh;
    transform: scale(1.1);
} */

body {
    background-image: url(/images/cinema.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(4px);
    overflow-x: hidden;
    height: 100vh;
}

.vs {
    color: #771b1f;
}

/* Change the heighting to "fit-content" when the movie details gets added in */
.left-section {
    height: 70vh;
}

.right-section {
    height: 70vh;
}

.left-details {
    opacity: 0;
    transform: translateX(-100%) scale(0.7);
    transition: all 500ms ease;
}

.right-details {
    opacity: 0;
    transform: translateX(100%) scale(0.7);
    transition: all 500ms ease;
}

.section-visible {
    opacity: 1;
    transform: translateX(0);
}

.remove-movie-details {
    position: absolute;
    transform: scale(0.1);
    opacity: 0;
}

.movie-search {
    z-index: 2;
    color: #0d0f13 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #b8b4ac;
    transform: translate(-50%, -50%);
    transition: top ease 500ms, box-shadow 500ms ease;
    box-shadow: 0 0 10px 0 #771b1f;
    width: 90%;
}
.movie-search:focus {
    box-shadow: 0 0 20px 0 #771b1f;
    background-color: #b8b4ac;
}

/* Custom dropdown styling */
.dropdown-menu {
    z-index: 3;
    display: block;
    height: 0;
    max-height: 20rem;
    opacity: 0;
    visibility: hidden;
    width: 90%;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    /* This 18px is half of the input height */
    transform: translate(-50%, 18px);
    background-color: #b8b4ac;
    box-shadow: 0 0 10px 0 #771b1f;
    transition: height 300ms ease, opacity 300ms ease, visibility 300ms ease, top 300ms ease, transform 500ms ease;
}
.dropdown-menu.visible {
    height: 20rem;
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    transition: background-color ease 200ms, box-shadow 200ms ease;
    white-space: normal;
}
.dropdown-menu a:hover {
    cursor: pointer;
    background-color: #771b1f;
    box-shadow: 0 0 10px 0 #771b1f;
}
.title,
.year {
    color: #0d0f13;
    transition: color ease 500ms;
}
.dropdown-menu a:hover div .title,
.dropdown-menu a:hover div .year {
    color: #c7c5bf;
}

/* When add movie and its details added to the page, add this class to transform input up */
.movie-present {
    top: 0;
    transform: translate(-50%, 0);
}

.movie-detail-poster {
    max-width: 100%;
    height: auto;
    transform: skew(-5deg);
    /* border: 2px solid #771b1f; */
}

.left-stat,
.right-stat {
    background-color: #0d0f13;
    color: white;
    box-shadow: 0 0 20px 0 #771b1f;
}

@media (max-width: 767px) {
    /* Put overflow on any element other than html or body, becuase mobile phones ignore this if viewport is specified */
    main {
        overflow-x: hidden;
    }
    body {
        height: fit-content;
    }
}


/* COLOR PALLET gotten from background image */
/* maroon */
/* #771b1f */

/* silver */
/* #c7c5bf */

/* dark grey */
/* #b8b4ac */

/* black */
/* #0d0f13 */