* {
    box-sizing: border-box;
    color: #c7c5bf;
    /* font-family: url(/fonts/Act_Of_Rejection.ttf) !important; */
}

@font-face {
    font-family: "street-fighter";
    src: url('/fonts/Act_Of_Rejection.ttf');
}

@font-face {
    font-family: "cinema";
    src: url('/fonts/gomarice_no_continue.ttf');
}

@font-face {
    font-family: 'body-font';
    src: url('/fonts/Staatliches-Regular.ttf');
}

.background-image {
    opacity: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    filter: blur(2px);
    transition: opacity 200ms linear;
}
.background-image-visible {
    opacity: 1;
}
#game-background {
    bottom: 0;
    left: 25%;
}

.header-container {
    font-family: "cinema";
    letter-spacing: 1px;
}

.header-container * {
    filter: drop-shadow(0 0 5px #771b1f);
}

.header-container h1 {
    font-family: 'street-fighter';
}

body {
    font-family: 'body-font';
    letter-spacing: 1px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

.not-comparable {
    text-align: center;
    position: absolute;
    top: 25%;
    opacity: 0;
    background-color: #c7c5bfe7;
    box-shadow: 0 0 10px 0 #c7c5bf;
    color: black;
    padding: 0.2rem;
    border-radius: 1rem;
    transition: opacity 500ms ease;
}
.tied {
    font-family: 'street-fighter';
    font-size: 5rem;
    text-align: center;
    position: absolute;
    top: 15%;
    opacity: 0;
    filter: drop-shadow(0 0 5px #771b1f);
    color: #c7c5bf;
    transition: opacity 500ms ease;
}
.not-comparable.visible,
.tied.visible {
    opacity: 1;
}

.vs {
    filter: drop-shadow(0 0 25px  #c7c5bf);
    stroke: #aa181f;
    fill: transparent;
    stroke-width: 0;
}

/* Change the heighting to "fit-content" when the item details gets added in */
.left-section {
    height: 35rem;
    transition: height 500ms ease;
}

.right-section {
    height: 35rem;
    transition: height 500ms ease;
}

/* Class to add for the winner */
.winner {
    background-color: #ffd90057 !important;
    box-shadow: 0 0 20px #ffd90057 !important;
}
.tie {
    background-color: #0d0f139d !important;
    box-shadow: 0 0 20px #0d0f139d !important;
}
.loser {
    background-color: #86858365 !important;
    box-shadow: 0 0 20px #86858365 !important;
}

.left-details {
    border-radius: 1rem;
    padding: 1.5rem;
    opacity: 0;
    transform: translateX(-100%) scale(0.5);
    transition: all 500ms ease;
}

.right-details {
    border-radius: 1rem;
    padding: 1.5rem;
    opacity: 0;
    transform: translateX(100%) scale(0.5);
    transition: all 500ms ease;
}

.section-visible {
    opacity: 1;
    transform: translateX(0);
}

.remove-item-details {
    position: absolute;
    transform: scale(0.1);
    opacity: 0;
}

.item-search {
    z-index: 2;
    color: #0d0f13 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #b8b4ac;
    transform: translate(-50%, -50%);
    transition: top ease 500ms, box-shadow 500ms ease;
    box-shadow: 0 0 10px 0 #771b1f;
    width: 90%;
}
.item-search:focus {
    box-shadow: 0 0 20px 0 #771b1f;
    background-color: #b8b4ac;
}

/* Custom dropdown styling */
.dropdown-menu {
    z-index: 3;
    display: block;
    height: 0;
    max-height: 20rem;
    opacity: 0;
    visibility: hidden;
    width: 90%;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    /* This 18px is half of the input height */
    transform: translate(-50%, 18px);
    background-color: #b8b4ac;
    box-shadow: 0 0 10px 0 #771b1f;
    transition: height 300ms ease, opacity 300ms ease, visibility 300ms ease, top 300ms ease, transform 500ms ease;
}
.dropdown-menu.visible {
    height: 20rem;
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    transition: background-color ease 200ms, box-shadow 200ms ease;
    white-space: normal;
}
.dropdown-menu a:hover {
    cursor: pointer;
    background-color: #771b1f;
    box-shadow: 0 0 10px 0 #771b1f;
}
.title,
.year {
    color: #0d0f13;
    transition: color ease 500ms;
}
.dropdown-menu a:hover div .title,
.dropdown-menu a:hover div .year {
    color: #c7c5bf;
}

/* When add item and its details added to the page, add this class to transform input up */
.item-present {
    top: 0;
    transform: translate(-50%, 0);
}

.item-detail-poster {
    max-width: 100%;
    height: auto;
    transform: skew(-5deg);
    filter: drop-shadow(0 0 10px  #771b1f);
    /* border: 2px solid #771b1f; */
}

.left-stat,
.right-stat {
    background-color: #0d0f13;
    color: white;
    box-shadow: 0 0 10px 0 #771b1f;
    transition: background-color 500ms ease, box-shadow 500ms ease;
}

@media (max-width: 767px) {
    /* Put overflow on any element other than html or body, becuase mobile phones ignore this if viewport is specified */
    main {
        overflow-x: hidden;
        height: 100vh;
        scroll-behavior: smooth;
    }
    #background-image {
        filter: blur(0);
    }
    .left-section {
        height: fit-content;
        transition: height 500ms ease;
        padding-top: 0 !important;
    }
    .right-section {
        height: fit-content;
        transition: height 500ms ease;
        padding-top: 0 !important;
    }

    .item-search {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
    }
    .dropdown-menu {
        transform: translate(-50%, 0);
        top: 36px;
        left: 50%;
    }
    .not-comparable,
    .tied {
        top: 0;
    }
}


/* COLOR PALLET gotten from background image */
/* maroon */
/* #771b1f */

/* silver */
/* #c7c5bf */

/* dark grey */
/* #b8b4ac */

/* black */
/* #0d0f13 */